<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <style>
        /* <Your codes here> */
        .profile {
            max-height: 300px;
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
            padding: 10px 50px 20px;
            border: 1px solid white;
            border-radius: 5px;
            background-color: white;
            box-shadow: 0px 0px 1px 1px black;
        }
        .profile-info {
            text-align: center;
            
        }
        button[type="submit"] {
            display:block;
            margin:auto;
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 20px;
            border: 1px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .picture{
            display:block;
            margin:auto;
            width:150px;
            height:100px;
            border-radius: 80%;
        }
    </style>
</head>

<body>

<div class="profile">
    <!-- for the profile image -->
    <!-- Hints: refer to the data of the testIds.js -->
    <!-- Uses the "<%= %>" tags. -->
    <script src="index_blank.js"></script>
    <img class="picture" src=<%= photo %> alt="Oops!">
    <!-- Your codes here -->

    <!-- the user information(name, student number) -->
    <!-- Hints: refer to the data of the testIds.js -->
    <div class="profile-info">
        <!-- Your codes here -->
        <h1>Name : <%= userName %></h1>
        <p>Student Number: <%= classNumber %></p>
    </div>

    <!-- the logout button -->
    <form method="GET" action="/logout">
        <button type="submit">Logout</button>
    </form>
    <!-- Your codes here -->
</div>


</body>
</html>
